.deleteIcon {
  color: rgb(231, 12, 12);
  transition: font-size 0.2s;
  cursor: pointer;
}
.deleteIcon:hover {
  font-size: 2rem;
}
.editIcon {
  color: rgb(6, 123, 6);
  transition: font-size 0.2s;
}
.editIcon:hover {
  font-size: 2rem;
}
.buttons-align {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
table {
  width: 1110px;
  border-collapse: collapse;
}
thead > tr > th,
tbody > tr > td {
  border-bottom: 1px solid rgb(203, 200, 200);
  text-align: center;
  height: 3rem;
  font-size: 1.5rem;
}
#search {
  border-radius: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid rgb(203, 200, 200);
  margin-top: 1.2rem;
  padding: 5px 5px 5px 15px;
  transition: border 0.2s;
}
#search:hover {
  border: 1px solid rgb(2, 141, 141);
}
#deleteChecked {
  border: 1px solid rgb(198, 191, 191);
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 10px;
  background-color: rgb(234, 230, 230);
  color: rgb(15, 15, 15);
  cursor: pointer;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}
#deleteChecked:hover {
  background-color: rgb(232, 18, 18);
  color: snow;
  border: 1px solid rgb(255, 47, 0);
}
thead > tr > th > input,
tbody > tr > td > input {
  font-size: 20px;
  border: 2px solid rgb(220, 217, 217);
  border-radius: 3px;
  transition: border-color 0.5s;
}
thead > tr > th > input:hover,
tbody > tr > td > input:hover {
  border-color: rgb(6, 164, 164);
}
#editBtn {
  margin-top: 20px;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
  color: rgb(237, 235, 235);
  background-color: rgb(86, 179, 86);
  border: 1px solid rgb(86, 179, 86);
  width: 60px;
  height: 30px;
  transition: width 0.2s, height 0.2s;
}
#editBtn:hover {
  width: 80px;
  height: 40px;
}
.text-capitalize {
  text-transform: capitalize;
}
.cursor-notallow {
  cursor: not-allowed !important;
}
#cancelBtn {
  margin-top: 20px;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
  color: rgb(39, 37, 37);
  background-color: rgb(232, 242, 242);
  border: 1px solid rgb(243, 245, 243);
  width: 68px;
  height: 30px;
  transition: width 0.2s, height 0.2s;
}
#cancelBtn:hover {
  width: 80px;
  height: 40px;
}
